*,

html,body {
    padding: 0;
    margin: 0;
}

@media (max-width: 500px) {
    .Edit-profile-mobile {
        height: 100vh;
    }

    .div-editprofile-desktop {
        display: none;
    }

    .Edit-profile-tablet {
        display: none;
    }

    .cancel-editprofile-mobile {
        height: 11%;   
    }

    .p-editprofile-mobile {
        padding-top: 25px;
        margin-left: 20px;
        font-size: 18px;
        font-weight: 600;
        color: #ffe786;
    }

    .div-profilchange-mobile {
       height: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .div-datauser-EditProfile {
        margin-top: 20px;
        
        color: white;
    }

    .input-username {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        background-color: black;
        border-bottom: 1px solid white;

    }

    .div-button-perubahan-mobile {
        margin-top: 15px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-simpan-perubahan-mobile {
        height: 100%;
        background-color: #ffe786;
        padding-left: 13px;
        padding-right: 13px;
        border-radius: 12px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-top: 10px;
    }

    .Edit-profile-tablet {
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    .Edit-profile-mobile {
        display: none;
    }

    .Edit-profile-tablet {
        height: 100vh;
    }

    .div-editprofile-desktop {
        display: none;
    }

    .cancel-editprofile-tablet {
        height: 6%;
        font-size: 24px;
        margin-top: 10px;
        padding-top: 10px;
        font-weight: 600;
        color: #ffe786;
    }

    .div-editprofile-card-tablet {
        width: 80%;
        margin-left: 40px;
        margin-top: 30px;
        height: 200px;
        border-radius: 12px;
        position: relative;
        border: 1px solid white;
    }

    .img-background-Editprofile-tablet {
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    
    .div-container-Editprofile-tablet {
        width: 100%;
        position: absolute;
        bottom: 25px;
        left: 250px;
    }

    .div-datauser-EditProfile-tablet {
        margin-top: 40px;
        margin-left: 20px;
        color: white;
    }

    .input-username-tablet {
        width: 85%;
        height: 40px;
        margin-top: 5px;
        background-color: black;
        border-bottom: 1px solid white;
    
    }

    .div-button-perubahan-tablet {
        margin-top: 15px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-simpan-perubahan-tablet {
        height: 100%;
        background-color: #ffe786;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 12px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-top: 30px;
        font-size: 20px;
        
    }
  
}


@media (min-width: 1001px) {
    .Edit-profile-mobile {
        display: none;
    }

    .Edit-profile-tablet {
        display: none;
    }

    .p-editprofile-font-desktop {
        font-size: 32px;
        font-weight: 700;
        color: white;
        margin-left: 80px;
    }

    .card-editprofile-desktop {
        background-color: black;
        height: 260px;
        width: 70%;
        position: relative;
        margin-top: 30px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border: 1px white solid;
        left: 80px;
    }

    .div-picture-editprofile-desktop {
        width: 100%;
    }
    
    .img-editprofile-desktop {
        width: 120px; /* Ukuran foto profil */
        height: 120px;
        position: absolute;
        border-radius: 50%; 
        border: 3px solid white; /* Memberikan border putih */
        bottom: 40px;
        left: 40px;
    }

    .button-changepicture-desktop {
        background-color: #ffe786;
        height: 35%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 28px;
        margin-top: 10px;
        border-radius: 5px;
        color: black;
        font-weight: 500;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        gap: 6px;
        cursor: pointer;
    }

    .changepicture-desktop {
        height: 100%;
        padding: 6px;
        padding-left: 10px;
        font-weight: 600;
        margin-top: 3px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .icon-changepicture-desktop {
        padding: 4px;
    }

   
    .div-bar-editprofile-desktop {
        margin-top: 40px;
        margin-left: 80px;
        color: white;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    .div-bar-editprofilewithbutton-desktop {
        display: flex;
    }

    .input-editprofile-desktop {
        height: 40px;
        width: 50%;
        margin-top: 5px;
        background-color: #333;
        border-bottom: 1px solid white;
    }

    .button-save-editprofile {
        background-color: #ffe786;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 12px;
        margin-left: 50px;
    }
}